.footerSection {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1D1D24;
  color: #FFFFFF;
}

.leftSection {
  flex: 1;
  margin-left: 20px;
}

.leftSection img {
  height: 250px;
  width: 250px;
  border-radius: 5px;
}

.middleSection {
  flex: 1;
}

.middleSection h4 {
  margin-bottom: 10px;
}

.middleSection ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.middleSection ul li {
  margin: 5px 0;
}

.middleSection ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

.middleSection ul li a:hover {
  color: #F2B950;
}

.middleSection .socialMedia {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.middleSection p {
  margin-top: 20px;
  font-size: 0.8em;
  text-align: center;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription {
  background-color: #2A2E35;
  padding: 20px;
  text-align: left;
  color: #D0DAF5;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 50px;
  border: 1px solid #F2B950;
}

.subscription input {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.subscription h4 {
 padding-bottom: 10px;
}

.subscription button {
  background-color: #F2B950;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.subscription p {
  margin-top: 10px;
  font-size: 0.8em;
  line-height: 1.4;
}
